body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    margin: 0;
}

/*section-one header*/
.section-one{
    background-color: #1f2937;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links a {
    text-decoration: none;
    margin: 10px;
}

.header-links a, .left-one p {
    font-size: 18px;
    color: #E5E7EB;
}

a:hover {
    color: gold;
}

.left-one .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

.left-one button {
    color: white;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 24px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.2s;
}

.left-one button:hover {
    background-color: gold;
}

.header-bottom {
    padding: 40px 25px;
}

/*section-one flex structure*/
.header, .header-bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/*section-two*/
.title-two {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

.box-two img {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    border: 3px solid #3882F6;
    transition-duration: 0.2s;
}

.box-two img:hover {
    border: 3px solid gold;
}

/*section-two flex structure*/
.row-two {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 50px;
}

.box-two {
    max-width: 150px;
    text-align: center;
}

/*section-three*/
.section-three {
    background-color: #E5E7EB;
    padding: 80px 140px;
}

.quote-three {
    font-size: 28px;
    font-style: italic;
    font-weight: 200;
    color: #1f2937;
    margin: 0;

}

.name-three {
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    margin: 5px;
}

/*section-four*/
.section-four {
    background-color: #3882F6;
    color: #f9faf8;
    margin: 60px 120px;
    border-radius: 4px;
    padding: 30px 60px;
}

.left-four p {
    color: #E5E7EB;
    font-size: 14px;
    margin-top: 0;
}

.left-four .text-four {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.section-four button {
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 12px;
    padding: 6px 24px;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    transition-duration: 0.2s;
}

.section-four button:hover {
    background-color: gold;
}

/*section-four flex structure*/
.section-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*section-five footer*/
.section-five {
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 12px;
    padding: 18px 80px;
}